<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group6.thesisproject"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for accessing location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <!-- This permission is necessary for background location access on Android 10 (API level 29) and above -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThesisProject"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true"> <!-- Opt-out of Scoped Storage for Android 10 -->

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declare other activities and services here -->
    </application>

</manifest>
